* {
  margin: 0;
  padding: 0;
}
/*----Navigation----*/
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-brand img {
  height: 80px;
  padding-left: 30px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  float: right;
  text-align: left;
}

#nav-bar  ul li a:hover {
  color: #007bff!important;
}

.navbar {
  background: #fff;
}

.navbar-toggler {
  border: none!important;
}

.nav-link {
  color: #555!important;
  font-weight: 600px;
  font-size: 16px;
}

/*-----Slider-----*/
#slider {
  width: 100%;
  margin-bottom: 10px;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial!important;
}

.carousel-caption h5 {
  color: #fff;
  font-size: 42px;
}

/*-----Notes-----*/
#two {

}

#notes {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #555;
}

.notes-date {
  padding-top: 20px;
  padding-bottom: 20px;
}

.notes-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.center {
  text-align: center;
}

/*----Conferences*/
#conferences {
  background-image: linear-gradient(rgba(65,105,225,0.8), rgba(65,105,225,0.8)), url(images.png);
  background-size: cover;
  background-position: center;
  color: #efefef!important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
}

#conferences h2 {
  text-align: center;
  color: #efefef!important;
  padding-bottom: 10px;
}

#conferences h2::after {
  content: '';
  background: #efefef;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}

.conferences {
  margin-top: 40px;
}

#conferences p{
  font-size: 14px;
  margin-top: 20px;
  color: #ccc;
}

.conference {
  font-size: 26px;
}

/*------Events------*/
#events {
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right:20px;
}

#events .row {
  margin-top: 30px;
}

.col-md-4 {
  margin: 40px auto;
}

.event-names {
  padding: 10px 10px 10px;
  background-color: rgba(220, 20, 60, .8);
  font-size: 20px;
  color: #efefef;
}

.event-names a {
  color: #efefef;
}

.event-links {
  list-style: none;
}

/*-----Footer-----*/
#footer {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 12px;
}

.icon {
  font-size: 25px;
  padding-left: 10px;
  color: #fff;
}

html {
  scroll-behavior: smooth;
  transition-duration: 1000ms;
}

/*
span.anchor {
    margin-top: -106px; 
    display: block;
    height: 106px; 
    visibility: hidden;
    position: relative;
}
*/
